<div class="col-md-12">
  <header class="p-2">
    <div class="d-flex justify-content-between align-items-center mb-4">

      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "nagano_cake_logo", size: "120x120" %>
      <% end %>

      <% if member_signed_in? %>
      <p>ようこそ<%= current_member.family_name %>さん！</p>
      <div>
        <nav class="mb-2">
          <ul class="navbar-nav list-group-horizontal">
            <li class="nav-item"><%= link_to "マイページ", members_mypage_path, class: "btn text-secondary mr-1" %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn text-secondary mr-1" %></li>
            <li class="nav-item">
              <%= link_to cart_items_path, class: "btn text-secondary mr-1" do %>
                <i class="fas fa-shopping-cart fa-lg"></i>
              <% end %>
            </li>
            <li class="nav-item"><%= link_to "ログアウト",  destroy_member_session_path, method: :delete, class: "btn text-secondary mr-1" %></li>
          </ul>
        </nav>

      <%= form_with url: search_path, method: :get do |f|  %>
        <%= f.text_field :word, placeholder: "Search", class: "p-1" %>
        <%= button_tag type: "submit", class: "btn border-0" do %>
            <i class="fas fa-search"></i>
        <% end %>
      <% end %>

      </div>

      <% else %>

      <div>
        <nav class="mb-2">
          <ul class="navbar-nav list-group-horizontal">
            <li class="nav-item"><%= link_to "About", about_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to "新規登録", new_member_registration_path, class: "btn btn-outline-secondary mr-3" %></li>
            <li class="nav-item"><%= link_to "ログイン", new_member_session_path, class: "btn btn-outline-secondary mr-3" %></li>
          </ul>
        </nav>

        <%= form_with url: search_path, method: :get do |f|  %>
          <%= f.text_field :word, placeholder: "Search", class: "p-1" %>
          <%= button_tag type: "submit", class: "btn border-0" do %>
              <i class="fas fa-search"></i>
          <% end %>
        <% end %>
        </div>

      <% end %>
    </div>
  </header>
</div>
