<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      <h3>商品新規登録</h3>

      <%= form_with model: Item.new, url: admin_items_path, method: :post do |f| %>

        <table>
          <tr>
            <td>商品画像</td>
            <td><%= f.file_field :image, accept: "image/*" %></td>
          </tr>
          <tr>
            <td>商品名</td>
            <td><%= f.text_field :name, placeholder: "商品名" %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= f.text_area :detail, placeholder: "ここに説明文を記述します", rows: "5" %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td></td>
          </tr>
          <tr>
            <td>税抜き価格</td>
            <td><%= f.text_field :price, placeholder: "1000" %>円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td></td>
          </tr>
        </table>

        <%= f.submit "新規登録", class: "btn btn-success" %>

      <% end %>

    </div>
    <%= render 'admin/shared/footer.html.erb' %>
  </div>
</div>


