<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>

  <div class="col-md-5 col-md-offset-2">
    <h3>商品詳細</h3>
    <div class="item-details">
      <%= image_tag @item.image, size: "300x200" %>
    </div>
  </div>

  <div class="col-md-5">
    <div class="item-details">
      <table>
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.detail %></td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <td>税込価格(税抜価格)</td>
          <td><%= @item.price %>(<%= (@item.price/1.1).floor(0) %>)円</td>
        </tr>
        <tr>
          <td>販売ステータス</td>
          <td><%= @item.is_active %></td>
        </tr>
      </table>

      <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %>

    </div>
  </div>

    <%= render 'admin/shared/footer.html.erb' %>
  </div>
</div>


