<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">

      <h2>管理者ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>

        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-info" %>
        </div>
      <% end %>

    </div>
    <%= render 'admin/shared/footer.html.erb' %>
  </div>
</div>