<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      <h3 class="mb-3">注文履歴一覧</h3>

      <table class="table mb-3">
        <tr class="table-secondary">
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admin_order_path(order.id), class:"text-dark" do %>
                <%= order.created_at.strftime('%Y/%m/%d') %>
                <%= order.created_at.strftime('%T') %>
              <% end %>
            </td>
            <td><%= order.member.family_name + order.member.first_name %></td>
              <% sum_quantity = 0 %>
            <% OrderDetail.where(order_id: order.id).each do |order_detail| %>
              <% sum_quantity += order_detail.quantity%>
            <% end %>
            <td><%= sum_quantity %></td>
            <td><%= order.status_i18n %></td>
          </tr>
        <% end %>
      </table>

      <%= paginate @orders, theme: 'bootstrap-5' %>

    </div>
    <%= render 'admin/shared/footer.html.erb' %>
  </div>
</div>


