<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      <h3 class="mb-3">ジャンル編集</h3>

        <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
        <div class="d-flex">
          <p class="mr-3">ジャンル名</p>
          <%= f.text_field :name, class:"mr-3" %>
          <%= f.submit "変更を保存", class: "btn btn-success" %>
          <% end %>
        </div>

    </div>
    <%= render 'admin/shared/footer.html.erb' %>
  </div>
</div>


