<div class="container p-3">
  <div class="row">
    <%= render 'public/shared/header.html.erb' %>

  <div class="col-md-3">
    <%= render 'public/items/genre_search.html.erb' %>
  </div>

  <div class="col-md-9">

    <div class="d-flex mb-3">
      <h3 class="mr-2">商品一覧</h3>
      <p>(全<%= Item.all.count %>件)</p>
    </div>

    <div class="new-items d-flex flex-wrap">
      <% @items.each do |item| %>
      <div class="new-item mr-3">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "180x130" %>
        <% end %>
        <p>
          <%= item.name %><br>
          ¥<%= item.price.to_s(:delimited) %>
        </p>
      </div>
      <% end %>
    </div>

    <%= paginate @items, theme: 'bootstrap-5' %>

  </div>

    <%= render 'public/shared/footer.html.erb' %>

  </div>
</div>


